{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"-->



	<title style="font-family: 'Montserrat'">Story 6 : Bang</title>
	
	<!--meta name="viewport" content="width=device-width, initial-scale=1"-->
	
</head>
<body>
    <div class="container">
    <header style="margin-top: 50px">{% include "navbar.html" %}
        </header>

    <h1 style="margin: auto;">Hello, apa kabar?</h1>


    <div>
        <form action="status" method="post" class="description" >
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field }}
            </div>
            {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="card bg-info text-white">
        {% for i in description %}
            <div class="card-body">
            {{ i.date }}<br>
            {{ i.description }}
            </div>
        {% endfor %}
    </div>


    </div>
            
    


</body>
</html>