{%load static%}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Archivo' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
</head>
<body>
  	<!--Menu!-->
  	<div class="container">
 	<header style="margin-top: 50px">
  		{% include 'navbar.html' %}
	</header>

		<h1>Hola, I'm Syifa</h1>
		<div class="content" style="float: center">
			<p style="float:center">Tulisan ini dibuat untuk mengisi kekosongan web saya di story 6.</p> 
		</div>
	</div>

</body>
</html>
