{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Archivo' rel='stylesheet'>

</head>
<body>

  <!--Menu!-->
<div class="container">
    <header style="margin-top: 50px">{% include "navbar.html" %}
        </header>

    <h1>Daily Life</h1>


    <div class="row">
      <div class="column">
        <div class="card">
          {% for status in all_status %}
          <h4>{{status.date}}</h4>
          <p>{{status.description}}</p>
          {% endfor %}
        </div>
      </div>
    </div>

</div>
</body>
</html>

